html, body {
	margin: 0;
	background-color: #222;
}
div {
	/* border: 1px dotted #fff; */
}
.container {
	max-width: cover;
	margin: 0 auto;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: grid;
	align-items: center;
	height: 50px;
	background-color: #222;
	text-align: center;
}
.nav {
	display: flex;
	justify-content: left;
	color: #999;
	font-family: "Razer Regular";
	margin: 0 auto;
	height: 50px;
}
.links {
	text-align: left;
	text-decoration: none;
	color: #999;
}
a {
	text-decoration: none;
	color: #fff;
}
.menu-item {
	margin-right: 40px;
	font-size: 16px;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 13px;
}
.space {
	margin-left: 120px;
}
.dropdown {
	max-width: 115px;
  }
.dropdown2 {
	max-width: 85px;
}
.dropdown3 {
	max-width: 100px;
}
.megamenu1 {
	position: absolute;
	top: 50px;
	display: none;
	background-color: black;
	z-index: 1;
	min-width: 300px;
}
.megamenu1 a {
	display: block;
	color: #999;
	padding: 10px;
	text-decoration: none;
	font-family: "Razer Regular";
    font-size: 16px;
	letter-spacing: .0625rem;
	transition: color .2s;
}
.megamenu1 a:hover {
	color: #fff;
}
.megamenu2 a:hover {
	color: #fff;
}
.megamenu3 a:hover {
	color: #fff;
}
.megamenu4 a:hover {
	color: #fff;
}
.megamenu5 a:hover {
	color: #fff;
}
.megamenu1.active {
	display: grid;
}
.megamenu2 {
	position: absolute;
	top: 50px;
	display: none;
	background-color: black;
	z-index: 1;
	min-width: 250px;
}
.megamenu2 a {
	display: block;
	color: #999;
	padding: 10px;
	text-decoration: none;
	font-family: "Razer Regular";
    font-size: 16px;
	letter-spacing: .0625rem;
	transition: color .2s;
}
.megamenu2.active {
	display: grid;
}
.megamenu3 {
	position: absolute;
	top: 50px;
	display: none;
	background-color: black;
	z-index: 1;
	min-width: 250px;
}
.megamenu3 a {
	display: block;
	color: #999;
	padding: 10px;
	text-decoration: none;
	font-family: "Razer Regular";
    font-size: 16px;
	letter-spacing: .0625rem;
	transition: color .2s;
}
.megamenu3.active {
	display: grid;
}
.megamenu4 {
	position: absolute;
	top: 50px;
	display: none;
	background-color: black;
	z-index: 1;
	min-width: 250px;
}
.megamenu4 a {
	display: block;
	color: #999;
	padding: 10px;
	text-decoration: none;
	font-family: "Razer Regular";
    font-size: 16px;
	letter-spacing: .0625rem;
	transition: color .2s;
}
.megamenu4.active {
	display: grid;
}
.megamenu5 {
	position: absolute;
	top: 50px;
	display: none;
	background-color: black;
	z-index: 1;
	min-width: 250px;
}
.megamenu5 a {
	display: block;
	color: #999;
	padding: 10px;
	text-decoration: none;
	font-family: "Razer Regular";
    font-size: 16px;
	letter-spacing: .0625rem;
	transition: color .2s;
}
.megamenu5.active {
	display: grid;
}
.extra {
	margin-right: 150px;
}
.shop {
	/* margin-right: 40px; */
	background-image: url(../img/Shopping\ cart.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: rgba(0, 0, 0, 0);
	margin-top: 7px;
}
.logo {
	margin-right: 40px;
	background-image: url(../img/Razer.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: rgba(0, 0, 0, 0);
}
.slider {
	max-height: 75vh;
	display: grid;
	align-items: end;
	justify-content: center;
	margin-bottom: 10px;
}
.slider1 {
	height: 640px;
	display: grid;
	align-items: end;
	justify-content: center;
	margin-bottom: 10px;
}
.text-box1 {
	max-width: 588px;
	max-height: 214px;
	margin-bottom: 410px;
	margin-top: 70px;
	position: center;
}
.first {
	background-image: url("../img/one.jpg");
	background-position: center bottom;
	background-size: cover;
    background-repeat: no-repeat;
}
.second {
	background-image: url("../img/two.jpg");
	background-position: center bottom;
	background-size: cover;
    background-repeat: no-repeat;
}
.third {
	background-image: url("../img/three.jpg");
	background-position: center bottom;
	background-size: cover;
    background-repeat: no-repeat;
}
.fourth {
	background-image: url("../img/four.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	width: 100%;
	height: 100%;
}
.fifth {
	background-image: url("../img/five.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.sixth {
	background-image: url("../img/six.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.seventh {
	background-image: url("../img/seven.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.eighth {
	background-image: url("../img/eight.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.nine {
	background-image: url("../img/nine.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.text {
	max-width: 500px;
	margin: 0 auto;
	margin-top: 54px;
	/* margin-top: 54px;
	margin-left: 112px;
	position: absolute; */
}
.text-box {
	max-width: 588px;
	max-height: 214px;
	margin-bottom: 600px;
	margin-top: 70px;
	position: center;
}
h1 {
	margin: 0;
	margin-bottom: 13px;
}
p {
	margin: 0;
	color: #fff;
	font-size: 1.125rem;
    line-height: 1.5;
	display: block;
}
.SemiBold {
	font-family: "Razer SemiBold";
}
.RazerLight {
	font-family: "Razer Light";
	font-weight: 700;
}
.arrow {
    display: inline-block;
    color: #44d62c;
}
.title {
	color: #999;
	font-family: 'Razer Light';
	font-weight: 550;
    font-size: 40px;
    line-height: 1;
}
.box_title {
	color: #999;
	font-family: 'Razer Light';
	font-weight: 550;
    font-size: 1.8rem;
    line-height: 1;
}
.boxes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 5px 10px 0;
}
.box {
	display: flex;
    flex: 1 1 49.5%;
    width: auto;
	height: 580px;
	margin: 0 10px 10px 0;
}
.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	/* min-height: 337px; */
	max-height: 125px;
	max-width: 875px;
	margin: 0 auto;
	padding-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
}
.end-box {
	min-height: 200px;
	display: -ms-inline-grid;
	text-align: left;
}
.footer-title {
	color: #fff;
	font-family: "Razer SemiBold";
	font-size: 13px;
	font-weight: 700;
	padding-bottom: 4px;
}
.footer-text {
	color: #999;
	font-family: "Razer Regular";
	font-size: 13px;
	padding-bottom: 4px;
	font-weight: 400;
	text-decoration: none;
}
.facebook {
	background: url(../img/fb-footer-icon.png) no-repeat;
    background-position-x: left;
}
.twitter {
	background: url(../img/twitter-footer-icon.png) no-repeat;
    background-position-x: left;
}
.insta {
	background: url(../img/instagram-footer-icon.png) no-repeat;
    background-position-x: left;
}
.image {
	display: block;
    height: 20px;
    padding-left: 25px;
}
a:hover {
	color: #fff;
}
.footer-slider {
	height: 100px;
	display: grid;
	align-items: end;
	justify-content: center;
	margin-bottom: 50px;
}
.ending-text {
	color: #999;
	font-family: "Razer Light";
	font-size: 12px;
	line-height: 1rem;
}
@media screen and (max-width: 800px) {
	.boxes {
		grid-template-columns: 1fr;
	}	
	.footer {
		grid-template-columns: 1fr 1fr 1fr;
		max-height: 300px;
	}
}
@font-face {
	font-family: "Razer Light";
	src: url(../razerf5-light-webfont.woff) format("woff");
}
@font-face {
	font-family: "Razer SemiBold";
	src: url(../css/razerf5-semibold-webfont.woff) format("woff");
}
@font-face {
	font-family: "Razer Regular";
	src: url(../fonts/razerf5-reg-webfont.woff) format("woff");
}